// colors
$white-color: #fff;
$black-color: #000000;
$grey-color: #393b3b;

//fonts
$text-xl: 3.2rem;
$text-lg: 2.4rem;
$text-md: 1.75rem;
$text-sm: 1.35rem;

//shadow
$light-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.238);
