footer {
  font-size: $text-md;
  line-height: 2.1rem;
  margin: 0 0;
  text-align: center;
  color: $white-color;
  background-color: $black-color;
  border-top: 0.5px solid $grey-color;
  padding: 1.6rem 0;
  margin-top: auto;
}
